@model MainModel

@foreach(var item in Model.Folder)
{
    @if(Model.FolderId != Guid.Empty)
    {
        @if (item.ParentId == Model.FolderId)
        {
            <tr class="file-item" data-type="dir">
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-text"></span>
                    </label>
                </td>
                <td>
                    <svg class="svg-icon" fill="none" height="13" viewBox="0 0 17 13"
                         width="17">
                        <path d="M17 3.33337V12C17 12.5523 16.5523 13 16 13H1C0.447715 13 0 12.5523 0 12V2.33337V1C0 0.447715 0.447715 0 1 0H6.54006C6.83199 0 7.10934 0.127565 7.29932 0.349215L9 2.33337H16C16.5523 2.33337 17 2.78109 17 3.33337Z"
                              fill="#58595B" />
                    </svg>
                    <span class="file-name">@item.Name</span>
                </td>
                <td></td>
                <td>@item.Created</td>
                <td>@item.Updated</td>
            </tr>
        }

    }
    else
    {
        @if (item.ParentFolder == null)
        {
            <tr class="file-item" data-type="dir">
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-text"></span>
                    </label>
                </td>
                <td>
                    <svg class="svg-icon" fill="none" height="13" viewBox="0 0 17 13"
                         width="17">
                        <path d="M17 3.33337V12C17 12.5523 16.5523 13 16 13H1C0.447715 13 0 12.5523 0 12V2.33337V1C0 0.447715 0.447715 0 1 0H6.54006C6.83199 0 7.10934 0.127565 7.29932 0.349215L9 2.33337H16C16.5523 2.33337 17 2.78109 17 3.33337Z"
                              fill="#58595B" />
                    </svg>
                    <span class="file-name">@item.Name</span>
                </td>
                <td></td>
                <td>@item.Created</td>
                <td>@item.Updated</td>
            </tr>
        }
    }
}

@foreach(var item in Model.File)
{
    @if(Model.FolderId != Guid.Empty)
    {
        @if(item.FolderId == Model.FolderId)
        {
            <tr class="file-item" data-type="file">
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-text"></span>
                    </label>
                </td>
                <td>
                    <svg class="svg-icon" fill="none" height="17" viewBox="0 0 15 17" width="15"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.29674 1H2C1.44772 1 1 1.44771 1 2V14.8571C1 15.4094 1.44772 15.8571 2 15.8571H13C13.5523 15.8571 14 15.4094 14 14.8571V5.17422C14 4.8823 13.8724 4.60495 13.6508 4.41496L9.94753 1.24074C9.76629 1.08539 9.53545 1 9.29674 1Z"
                              stroke="#58595B" />
                        <path d="M9.66656 4.3333V1.61902H11.1696L13.619 3.78653V5.3333H10.6666C10.1143 5.3333 9.66656 4.88559 9.66656 4.3333Z"
                              fill="#58595B" />
                    </svg>
                    <span class="file-name">@item.Name @item.extension</span>
                </td>
                <td>@item.Size</td>
                <td>@item.Created</td>
                <td>@item.Updated</td>
            </tr>
        }
    }
    else
    {
        @if(item.Folders == null)
        {
            <tr class="file-item" data-type="file">
                <td>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox-text"></span>
                    </label>
                </td>
                <td>
                    <svg class="svg-icon" fill="none" height="17" viewBox="0 0 15 17" width="15"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.29674 1H2C1.44772 1 1 1.44771 1 2V14.8571C1 15.4094 1.44772 15.8571 2 15.8571H13C13.5523 15.8571 14 15.4094 14 14.8571V5.17422C14 4.8823 13.8724 4.60495 13.6508 4.41496L9.94753 1.24074C9.76629 1.08539 9.53545 1 9.29674 1Z"
                              stroke="#58595B" />
                        <path d="M9.66656 4.3333V1.61902H11.1696L13.619 3.78653V5.3333H10.6666C10.1143 5.3333 9.66656 4.88559 9.66656 4.3333Z"
                              fill="#58595B" />
                    </svg>
                    <span class="file-name">@item.Name @item.extension</span>
                </td>
                <td>@item.Size</td>
                <td>@item.Created</td>
                <td>@item.Updated</td>
            </tr>
        }
    }
}