@model MainModel

<div class="files-section">
    <div class="loader"></div>
    <ul class="files-list">
        <a href="../Home/Index">
        <li class="dir-item item" data-name="/" data-open="true">
            <svg class="icon-expend svg-icon" fill="none" height="13" viewBox="0 0 19 13" width="19">
                <path d="M17 3.33337V13H0V2.33337V1C0 0.447715 0.447715 0 1 0H6.54006C6.83199 0 7.10934 0.127565 7.29932 0.349215L9 2.33337H16C16.5523 2.33337 17 2.78109 17 3.33337Z"
                      fill="#58595B" />
                <path d="M16.9999 13H-0.00012207L1.36661 4.34404C1.44335 3.85799 1.8623 3.5 2.35437 3.5H17.3296C17.9441 3.5 18.4133 4.049 18.3174 4.65597L16.9999 13Z"
                      fill="#C0C0C0" />
            </svg>
            <span class="name">/</span>
            <ul class="sub-files">
                    @foreach (var item in Model.Folder)
                    {
                        @if (item.ChildrenFolders.Count == 0 && item.ParentFolder == null && item.Files.Count == 0)
                        {
                        <a href="../Home/Index?FolderId=@item.Id" style="">
                        <li href="Home/Index?FolderId=@Model.FolderId" class="dir-item item" data-name="@item.Name" data-open="false">
                            <svg class="icon-contract svg-icon" fill="none" height="13" viewBox="0 0 17 13" width="17">
                                <path d="M17 3.33337V12C17 12.5523 16.5523 13 16 13H1C0.447715 13 0 12.5523 0 12V2.33337V1C0 0.447715 0.447715 0 1 0H6.54006C6.83199 0 7.10934 0.127565 7.29932 0.349215L9 2.33337H16C16.5523 2.33337 17 2.78109 17 3.33337Z"
                                      fill="#58595B" />
                            </svg>
                            <span class="name">@item.Name</span>
                        </li>
                        </a>
                        }
                        else if (item.ParentFolder == null)
                        {
                        <a href="../Home/Index?FolderId=@item.Id">
                        <li class="dir-item item" data-name="@item.Name" data-open="true">
                            <svg class="icon-expend svg-icon" fill="none" height="13" viewBox="0 0 19 13" width="19">
                                <path d="M17 3.33337V13H0V2.33337V1C0 0.447715 0.447715 0 1 0H6.54006C6.83199 0 7.10934 0.127565 7.29932 0.349215L9 2.33337H16C16.5523 2.33337 17 2.78109 17 3.33337Z"
                                      fill="#58595B" />
                                <path d="M16.9999 13H-0.00012207L1.36661 4.34404C1.44335 3.85799 1.8623 3.5 2.35437 3.5H17.3296C17.9441 3.5 18.4133 4.049 18.3174 4.65597L16.9999 13Z"
                                      fill="#C0C0C0" />
                            </svg>
                            <span class="name">@item.Name</span>
                            <ul class="sub-files">
                            @foreach (var i in item.ChildrenFolders)
                            {
                                    <a href="../Home/Index?FolderId=@i.Id">
                                    <li class="dir-item item" data-name="users" data-open="false">
                                        <svg class="icon-contract svg-icon" fill="none" height="13" viewBox="0 0 17 13"
                                             width="17">
                                            <path d="M17 3.33337V12C17 12.5523 16.5523 13 16 13H1C0.447715 13 0 12.5523 0 12V2.33337V1C0 0.447715 0.447715 0 1 0H6.54006C6.83199 0 7.10934 0.127565 7.29932 0.349215L9 2.33337H16C16.5523 2.33337 17 2.78109 17 3.33337Z"
                                                  fill="#58595B" />
                                        </svg>
                                        <svg class="icon-expend svg-icon" fill="none" height="13" viewBox="0 0 19 13"
                                             width="19">
                                            <path d="M17 3.33337V13H0V2.33337V1C0 0.447715 0.447715 0 1 0H6.54006C6.83199 0 7.10934 0.127565 7.29932 0.349215L9 2.33337H16C16.5523 2.33337 17 2.78109 17 3.33337Z"
                                                  fill="#58595B" />
                                            <path d="M16.9999 13H-0.00012207L1.36661 4.34404C1.44335 3.85799 1.8623 3.5 2.35437 3.5H17.3296C17.9441 3.5 18.4133 4.049 18.3174 4.65597L16.9999 13Z"
                                                  fill="#C0C0C0" />
                                        </svg>
                                        <span class="name">@i.Name</span>
                                    </li>
                                    </a>
                             }

                            @foreach (var fi in item.Files)
                            {
                                    <li class="file-item item" data-name="@fi.Name @fi.extension">
                                        <svg class="svg-icon" fill="none" height="17" viewBox="0 0 15 17" width="15"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9.29674 1H2C1.44772 1 1 1.44771 1 2V14.8571C1 15.4094 1.44772 15.8571 2 15.8571H13C13.5523 15.8571 14 15.4094 14 14.8571V5.17422C14 4.8823 13.8724 4.60495 13.6508 4.41496L9.94753 1.24074C9.76629 1.08539 9.53545 1 9.29674 1Z"
                                                  stroke="#58595B" />
                                            <path d="M9.66656 4.3333V1.61902H11.1696L13.619 3.78653V5.3333H10.6666C10.1143 5.3333 9.66656 4.88559 9.66656 4.3333Z"
                                                  fill="#58595B" />
                                        </svg>
                                        <span class="name">@fi.Name @fi.extension</span>
                                    </li>
                             }
                             
                            </ul>
                        </li>
                        </a>
                        }

                    }
                    @foreach (var fi in Model.File)
                    {
                        @if (fi.Folders == null)
                        {
                        <li class="file-item item" data-name="@fi.Name @fi.extension">
                            <svg class="svg-icon" fill="none" height="17" viewBox="0 0 15 17" width="15"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.29674 1H2C1.44772 1 1 1.44771 1 2V14.8571C1 15.4094 1.44772 15.8571 2 15.8571H13C13.5523 15.8571 14 15.4094 14 14.8571V5.17422C14 4.8823 13.8724 4.60495 13.6508 4.41496L9.94753 1.24074C9.76629 1.08539 9.53545 1 9.29674 1Z"
                                      stroke="#58595B" />
                                <path d="M9.66656 4.3333V1.61902H11.1696L13.619 3.78653V5.3333H10.6666C10.1143 5.3333 9.66656 4.88559 9.66656 4.3333Z"
                                      fill="#58595B" />
                            </svg>
                            <span class="name">@fi.Name @fi.extension</span>
                        </li>
                        }
                    }

            </ul>
        </li>
        </a>
    </ul>
</div>
